body {
    background-color: white;
    color: #333333;
    padding: 20px 600px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}

.buttons {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 150px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.center-component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}